@charset "utf-8";
/* CSS Document */

body{
    font-family: 'robotoregular';
    background:#fff;
}
.main_container{
    width:100%;
    float:left;  overflow: hidden;
}
header{
    width:100%;
    float:left;
}
.header_top{
    width:100%;
    float:left;
    background:#626262;
    padding:5px 0;
}
.home_sign_in{
    width:100%;
    float:left;
}
.home_sign_in span{
    width:150px;
    float:right;
}
.home_sign_in span a{
    border-right: 1px solid #f5f5f5;
    color: #f5f5f5;
    float: left;
    font-size: 13px;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: 'robotomedium';
}
.home_sign_in span a:last-child{
    border:none;
    padding-right:0;
}
.header_nav{
  float: left;
    position: relative;
    width: 100%;
    z-index: 9999;
}
.navbar{
    background:#e3e3e3;
    border:none;
}
.logo{
    width:auto;
    float:left;
    margin-right:2.5%;
}
.logo img{
    max-width:100%;
    float:left;
    margin-top:12px;
}
.navbar-right {
    float: float !important;
    width: 38% !important;
}

.navbar-right input[type="text"] {
    float: float !important;
    width: 100% !important;
    background:#f2f2f2 url(../img/search_icon.png) right 6px center no-repeat;
    padding-right:35px;
    -webkit-box-shadow: 0 1px 2px #a7a7a7 inset;
    box-shadow: 0 1px 2px #a7a7a7 inset;
    -moz-box-shadow: 0 1px 2px #a7a7a7 inset;
    border:1px solid #d7d7d7 !important;
    -moz-border:1px solid #d7d7d7 !important;
    -ms-border:1px solid #d7d7d7 !important;
    -o-border:1px solid #d7d7d7 !important;
    -webkit-border:1px solid #d7d7d7 !important;
    margin-top:8px;
    height:38px;
}
.navbar-form{
    margin-right:0 !important;
    padding-right:0 !important;
}
.navbar-inverse .navbar-nav > li > a {
    border-right: 1px solid #b0b0b0;
    border-left: 1px solid #f2f2f2;
    font-family: 'robotoregular';
    font-size:13px;
    color:#313131;
}
.navbar-nav {
    border-left: 1px solid #b0b0b0;
    border-right: 1px solid #f2f2f2;
}
.navbar-nav > li > a {
    padding: 25px 0;
    text-align: center;
    width: 110px;
}
.banner{
    width:100%;
    float:left;
    background:#fff;
}
.banner_in{
    width:100%;
    float:left;
    padding-top:14px;
}
.banner_in img{
    width:100%;
}
.home_content {
    float: left;
    margin: 65px 0 0;
    width: 100%;
}
.home_content_in{
    width:100%;
    float:left;
}
.home_content_left{
    width:100%;
    float:left;
}
.home_content_left_title{
    width:100%;
    float:left;
}
.home_content_left_title img{
    width:100px;
    height:90px;
    float:left;
    border: 2px solid #d9d9d9;
}
.home_content_left_title h2{
    width:100%;
    float:left;
    margin:0;
    padding:7px 0;
    font-size:19px;
    font-family: 'robotoregular';
    color:#fff;
    background:rgba(230, 230, 230, 0.9);
    text-align:center;
    color:#666;
}
.home_content_left ul{
    width:100%;
    float:left;
    padding:0;
    margin:15px 0 0 0;
    list-style:none;
}
.home_content_left ul li{
    width:100%;
    float:left;
    padding:10px;
    background:#f5f5f5;
    border:1px solid #fff;
    margin-bottom: 5px;
}
.home_content_left ul li:hover{
    border:1px solid #ccc;
}
.home_content_left ul li a{
    width:155px;
    float:left;
    margin:0;
    padding:28px 0 7px 10px;
    font-size:17px;
    font-family: 'robotoregular';
    color:#333;
    letter-spacing: 0.5px;
}
.home_content_left ul li a span{
    font-size:16px;
    font-family: 'robotolight';
}
.home_content_mid{
    width:100%;
    float:left;
}
.list_box_main {
    float: left;
    width: 100%;
    margin-top:15px;
}
.home_content_mid_title{
    width:100%;
    float:left;
}
.home_content_mid_title h2{
    width:100%;
    float:left;
    margin:0;
    padding:7px 0;
    font-size:19px;
    font-family: 'robotoregular';
    color:#fff;
    background:rgba(255, 255, 255, 0.4);
    text-align:center;
    text-transform: uppercase;
}
.list_box{
    width:100%;
    float:left;
    padding:7px;
    background:#f5f5f5;
    border:1px solid #fff;
    position: relative;
    margin-bottom: 7px;
}
.list_box:hover{
    border:1px solid #ccc;
}
.list_box_left{
    width:100%;
    padding: 0 15% 0 0;
    float:left;
}
.list_box_left img {
 border: 3px solid #d9d9d9;
    float: left;
    height: 105px; margin: 0 0 0 17px;
    width: 125px;
}
.list_box_title{
    width:100%;
    float:left;
}
.list_box_title h3{
    width:100%;
    float:left;
   margin: 0 0 0 16px;
    padding: 0 0 7px;
    font-size:20px;
    font-family: 'robotoregular';
    color:#ea5058;
}
.list_box_right{
    width:100%;
    float:left;
}
.list_box_right ul{
    width:100%;
    float:left;
    list-style:none;
    padding:0 0;
    margin:0;
}
.list_box_right ul li{
    width:100%;
    float:left;
}
.list_box_right ul li p{
    width:100%;
    float:left;
    margin:0;
    padding:0 0 7px 0;
    font-size:16px;
    font-family: 'robotolight';
    color:#000;
}
.list_box_right ul li img{
    max-width:100%;
    float:left;
    width:130px;
}
.list_box_right ul li h4{
    width:100%;
    float:left;
    margin:5px 0 5px;
    padding:0px 0px 0px 35px;
    font-size:16px;
    line-height:35px;
    font-family: 'robotolight';
    color:#000;
    background: url("../img/van_img.png") no-repeat scroll left center / 30px auto rgba(0, 0, 0, 0);
}
.list_box_right ul li h3{	
    color: #ea5058;
    float: left;
    font-family: 'robotobold';
    font-size: 20px;
    margin: 0;
    padding:0;
    width: 100%;
}

.home_content_right{
    width:100%;
    float:left;
}
.home_content_right_title{
    width:100%;
    float:left;
}
.home_content_right_title h2{
    width:100%;
    float:left;
    margin:0;
    padding:7px 0;
    font-size:19px;
    font-family: 'robotoregular';
    color:#fff;
    background:rgba(255, 255, 255, 0.4);
    text-align:center;
}
.home_right_chefs_main{
    float: left;
    width: 100%;
    margin-top:15px;
}
.home_right_chefs{
    background: none repeat scroll 0 0 #fff;
    float: left;
    padding: 12px;
    width: 100%;
    text-align:center;
    border:1px solid #fff;
}
.home_right_chefs ul{
    width:100%;
    float:left;
    padding:0;
    margin:0;
    list-style:none;
}
.home_right_chefs ul li{
    width:100%;
    float:left;
}
.home_right_chefs:hover{
    border:1px solid #ccc;
}
.chef_pic img{
    max-width:100%;
}
.chef_rating{
    max-width:100%;
}
.chef_pic img{
    border:3px solid #a2a2a2;
}
.home_right_chefs ul li p{
    color: #ea5058;
    float: left;
    font-family: "robotoregular";
    font-size: 18px;
    margin: 0;
    width: 100%;
    letter-spacing: 0.5px;
}
footer{
    width:100%;
    float:left;
    background:#626262;
}
.footer_in{
    width:100%;
    float:left;
}
.footer_in p{
    width:100%;
    float:left;
    text-align:center;
    color: #fff;
    margin:0;
    padding: 8px 0;
    font-family: "robotoregular";
    font-size: 13px;
}
.search_bar{
    width:100%;
    float:left;
}
.search_bar input[type="submit"] {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 40px;
    width: 15%;
    background:#ea5058;
    color:#fff;
}
.search_bar_main {
    float: left;
    padding: 10px;
    width: 100%;
}

.btn.btn-default.dropdown-toggle.list_item {
    font-size: 11px;
    padding: 5px;
}
.drop_down_toggle{ background: none repeat scroll 0 0 #ea5058;
                   border-radius: 2px;
                   box-shadow: -3px 2px 5px #cf353d inset;
                   color: #fff;
                   cursor: pointer;
                   float: left;
                   margin: 204% 0 0;
                   padding: 10%;
                   width: auto;}
.drop_down_toggle a{background: none repeat scroll 0 0 #ea5058;
                    color: #fff;
                    float: left;
                    font-size: 14px;
                    margin: 0;
                    padding: 2px 10px;
                    width: auto;}
.aa {
    display: none;
    float: left;
    width: 100%;
}
.drop_down_b{background: none repeat scroll 0 0 #f1f1f1;
             color: #fff;
             float: left;
             font-size: 14px;
             margin: 0;
             padding: 1%;
             width: 100%;}

.drop_down_radio{
    float: left;  background: none repeat scroll 0 0 #f4f4f4;
    font-size: 14px;
    margin: 0; border: 1px solid #d2d2d2;
    padding:3%;
    width: 100%;}

.drop_down_radio p{
    float: left;
    font-size: 14px;
    margin: 0 0 1%;
    padding:0;
    width: 100%;}

.drop_down_radio p span{
    float: left;
    font-size: 14px;
    margin: 0;
    padding:0;   color: #000;
    float: left;
    font-size: 14px; font-family:arial;
    width: 5%;}



.drop_down_radio p label{
    float: left;
    font-size: 14px;font-weight: normal;
    margin: 0;font-family:arial;
    padding:0; color: #000;
    width: 95%;}


.drop_down_radio section{
    color: #fff;
    float: left;
    font-size: 14px;
    margin: 2% 0 0;
    width: 100%;
    padding: 0;
    width: 100%;}


.drop_down_radio section a{box-shadow: 0px 1px 0px 0px rgb(247, 197, 192) inset; background: linear-gradient(to bottom, rgb(252, 141, 131) 5%, 
                               rgb(228, 104, 93) 100%) repeat scroll 0% 0% rgb(252, 141, 131); border-radius: 2px; border:
                               1px solid rgb(216, 53, 38); display: inline-block; cursor: pointer; color: rgb(255, 255, 255);
                           font-family: arial; font-size: 15px; font-weight: bold; padding: 6px 24px; text-decoration: none; 
                           text-shadow: 0px 1px 0px rgb(178, 62, 53);}




.sidebar_main {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    border: 1px solid #ccc;
    margin-top: 15px;
    
}
.sidebar_order_list {
    background: none repeat scroll 0 0 #f5f5f5;
    float: left;
    padding: 7px 0;
    width: 100%;
    margin-bottom: 5px;
}
.sidebar_order_list p {
    font-size:13px;
}
.order_list_product, .order_list_sr{
    font-weight:bold;
    color: #444;
    font-weight: bold;
}
.badge1 {
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border:1px solid #c0c0c0;
}
.order_total {
    float: left;
    width: 100%;
    padding:0 15px;
    margin-top: 0px;
    background: #fff;
}
.order_total ul {
    float: left;
    width: 100%;
    list-style:none;
    padding:0;
    margin: 0;
}
.order_total ul li {
    float: left;
    width: 100%;
    padding:7px 0 0 0;
}
.order_total ul li label {
    float: left;
    margin:0;
    font-weight:normal;
    font-size:13px;
}
.order_total ul li p {
    float: right;
    margin:0;
    font-size:13px;
}
.order_checkout{
    width:100%;
    float:left;
    padding:0 15px;
    margin-top: 15px;
}
.order_checkout button{
    border: none;
    background:#ea5058;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width:100%;
    color:#fff;
}
.food_qty{
    width:100%;
    float:left;
    text-align:center;
}
.food_qty label{
    font-size:14px;
    font-weight:normal;
    width:100%;
}
.food_qty_button {
    width:100%;
    float:left;
}
.food_qty_button button {
    border: none;
    background:#ea5058;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 0;
    padding: 9px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color:#fff;
}

/*--------------------------------------------------place_order--------------------------------------------*/
.placeorder{
   background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #ccc;
    float: left;
    margin-top: 16px;
    width: 100%;
}
.placeorder_title{
    width:100%;margin:62px 0 0 0;
    float:left;
}
.placeorder_title h1{
    width:100%;
    float:left;
    font-family: "robotoregular";
}
.placeorder_right{
    width:100%;
    float:left;
}
.placeorder_right_title{
    width:100%;
    float:left;
}
.placeorder_right_title h1{
    background: none repeat scroll 0 0 #e3e3e3;
    color: #666;
    float: left;
    font-family: "robotoregular";
    font-size: 17px;
    margin: 0;
    padding:8px 15px;
    width: 100%;
}
.placeorder_right input[type="text"]{
	padding:0 5px;
	}
.placeorder_right textarea{
	padding:0 5px;
	}
.placeorder_right ul{
    width:100%;
    float:left;
    list-style:none;
    padding:0;
    margin:15px 0;
}
.placeorder_right ul li{
    width:100%;
    float:left;
    padding:0;
    margin:0;
    color: #999;
}
.placeorder_right ul li label{
    color: #333;
    float: left;
    font-family: "robotoregular";
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 0;
    width: 100%;
}
.placeorder_right ul li input[type="text"]{
    width:60%;
    float:left;
    height:34px;
    border:1px solid #ccc;
}
.placeorder_right ul li textarea{
    width:60%;
    float:left;
    height:70px;
    border:1px solid #ccc;
    resize:none;
}
.frmct{ padding: 2%;}
.payment_option{
    width:100%;
    float:left;
    text-align:center;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding:15px;
    margin:15px 0;
}
.payment_option span{
    width:100%;
    float:left;
    text-align:center;
}
.payment_option label{
    width:100%;
    float:left;
    font-size:14px;
    font-weight:normal;
    text-align:center;
    font-family: "robotoregular";
    color:#000;
    margin: 15px 0;
    min-height: 45px;
}
.payment_option img{
    max-width:100%;
}
.sidebar_payment_list {
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 7px 0;
    width: 100%;
}
.sidebar_payment_list p {
    font-size:13px;
}
.payment_list_product, .payment_list_sr{
    font-weight:bold;
    color: #444;
    font-weight: bold;
}
.badge1 {
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border:1px solid #c0c0c0;
}
.payment_total {
    float: left;
    width: 100%;
    padding:0 15px;
}
.payment_total ul {
    float: left;
    width: 100%;
    list-style:none;
    padding:0;
}
.payment_total ul li {
    float: left;
    width: 100%;
    padding:7px 0 0 0;
}
.payment_total ul li label {
    float: left;
    margin:0;
    font-weight:normal;
    font-size:13px;
}
.payment_total ul li p {
    float: right;
    margin:0;
    font-size:13px;
}
.payment_checkout{
    width:100%;
    float:left;
    padding:0 15px;
}
.payment_checkout button{
    border: none;
    background:#ea5058;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width:100%;
    color:#fff;
}
.payment_checkout1_main{
    width:100%;
    float:left;
    padding:15px 0;
}
.payment_checkout1{
    width:100%;
    padding:0 15px;
    float:right;
    margin: 15px 0 30px 0;
}
.payment_checkout1_button {
    background: url("../img/double_arrow.png") no-repeat scroll right 34px top 20px / 23px auto #ea5058;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 22px;
    font-weight: bold;
    line-height: 43px;
    margin-bottom: 0;
    padding: 5px 5px 5px 34px;
    white-space: nowrap;
    width: 100%;
	text-align:left;
}
.login_or{
    font-size:20px;
    width:100%;
    float:left;
    text-align:center;
}
.login_img{
    width:100%;
    text-align:center;
    float:left;
    margin-bottom: 5px;
    cursor:pointer;
}
.submit_img{
    width:100%;
    text-align:center;
    float:left;
    margin-top:15px;
}
.submit_img img{
    cursor:pointer;
}
.login_phone img{
    cursor:pointer;
}
.login_phone{
    width:100%;
    float:left;
}
.login_phone_in{
    width:250px;
}
.login_phone_in input{
    border: 1px solid #d0d0d0;
    height: 34px;
    padding: 0 10px;
    width: 100%;
}
.modal-footer{
    border:none !important;
}
/*---------------------------------------------confirm-----------------------------------------------*/

.confirm{
    width:100%;
    float:left;
    min-height: 600px;
}
.confirm_title{
    width:100%;
    float:left;
}
.confirm_title h1{
    width:100%;
    float:left;
    font-family: "robotoregular";
}
.confirm_right{
    width:100%;
    float:left;
}
.confirm_right_title{
    width:100%;
    float:left;
}
.confirm_right_title h1{
    background: none repeat scroll 0 0 #d9d9d9;
    color: #666;
    float: left;
    font-family: "robotoregular";
    font-size: 17px;
    margin: 0;
    padding: 5px 15px;
    width: 100%;
}
.confirm_option{
    width:100%;
    float:left;
    text-align:center;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding:15px;
    margin:15px 0;
}
.confirm_option span{
    width:100%;
    float:left;
    text-align:center;
}
.confirm_option label{
    width:100%;
    float:left;
    font-size:14px;
    font-weight:normal;
    text-align:center;
    font-family: "robotoregular";
    color:#000;
    margin: 15px 0;
    min-height: 45px;
}
.confirm_option img{
    max-width:100%;
}
.confirm_list {
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 7px 0;
    width: 100%;
}
.home_confirm_right{
    width:100%;
    float:left;
}
.confirm_list_add {
    float: left;
}
.confirm_list_main{
    width:100%;
    float:left;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
}
.confirm_list_main span img{
    width:100%;
    float:left;
}
.confirm_list p {
    font-size:13px;
}
.confirm_list_product, .confirm_list_sr{
    font-weight:bold;
    color: #444;
    font-weight: bold;
}
.badge1 {
    border-radius: 3px;
    color: #333;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
    border:1px solid #c0c0c0;
}
.confirm_total {
    float: left;
    width: 100%;
    padding:0 15px;
}
.confirm_total ul {
    float: left;
    width: 100%;
    list-style:none;
    padding:0;
}
.confirm_total ul li {
    float: left;
    width: 100%;
    padding:7px 0 0 0;
}
.confirm_total ul li label {
    float: left;
    margin:0;
    font-weight:normal;
    font-size:14px;
}
.confirm_total ul li p {
    float: right;
    margin:0;
    font-size:14px;
}
.confirm_list_price {
    float: right;
    font-size: 14px;
}
.confirm_checkout{
    width:100%;
    float:left;
    padding:0 15px;
    margin: 15px 0 30px;
}
.confirm_checkout button{
    border: none;
    background:#ea5058;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 8px 30px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    color:#fff;
    float:right;
}
.confirm_checkout1_main{
    width:100%;
    float:left;
    padding:15px 0;
}
.confirm_checkout1{
    width:100%;
    padding:0 15px;
    float:right;
    margin: 15px 0 30px 0;
}
.confirm_checkout1 button {
    background: url("../img/double_arrow.png") no-repeat scroll right 20px top 16px / 30px auto #ea5058;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 22px;
    font-weight: bold;
    line-height: 43px;
    margin-bottom: 0;
    padding: 5px 5px;
    white-space: nowrap;
    width: 100%;
}
/*-------extra-css-------*/
.dish_content{
    width: 100%;
    float: left;
}
.my_account_a{
    margin-left: 10px; 
}
.seacrh_btn{
    background: none repeat scroll 0 0 #ea5058;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.video_wrap{
    position: absolute; 
    z-index: 2; background: rgba(255,255,255,0.2);
    width: 100%;   top: 0;
}
.search_bar_main input{
    border-radius:0px !important;
}
.search_input{
    border: 0 none;
    border-radius: 5px 0 0 5px;
    height: 40px;
    padding: 6px 10px; z-index: 2;
    background:rgba(255,255,255,0.8);
}

/* padded section */
.pad-section { padding: 50px 0; }
.pad-section img { width: 100%; }
/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
/* additional sections */
#box1 {
    background: darkblue;
    color: white;
    display: table;
    height: 300px;
    width: 100%;
}

.goToTop {
    position: fixed;
    top: 0;
    height: 70px;
    z-index: 1;
}
nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
}
nav li { background: #f8f8f8; }
.navbar.navbar-default {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.checkout-dialog
{
    width: 80%;
    margin: 20px auto 0 auto;
}
.checkout-head{
    width: 100%;
    float: left;
}
.modal-header {
    padding: 13px 15px 39px !important;
     background: none repeat scroll 0 0 #eee;
    border-radius: 4px;
}
.checkout-oder-confirm{
    width: auto;
    float: left;
    
    font-size: 18px;
    color: #ea5058;
}
.checkout-oder-id{
    width: auto;
    float: right;
    font-size: 18px;
    color: #ea5058;
    
}
.checkout-body h4{
    font-size: 14px;
    text-align: center;
}
.checkout-body h6{
    font-size: 14px;
}
.checkout-shiping{
    float: left;
    width: 100%;
    
}
.checkout-shiping h5{
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
    float: left;
    border-bottom:1px solid #e5e5e5;
    padding: 2%;
    background: none repeat scroll 0 0 #ea5058;
    color:#fff;
    margin: 0;
}
.checkout-edit{
    background: #666;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.checkout-confirm{
    background: none repeat scroll 0 0 #ea5058;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.checkout-body #cart-sec-2 {
    max-height: 300px;
    overflow-y: scroll;
    margin-bottom: 10px;
    
}
#srch-pd{padding-left: 10px;
    padding-right: 10px;}

#address-sec-2{border: 1px solid #ccc;}

.modal-footer.checkout-footer {
    padding-top: 0;
}
.home_content_right_title h3 {
    background: none repeat scroll 0 0 #e5e5e5;
    font-size: 17px;
    font-weight: normal;
    margin: 0;
    color: #666;
    padding: 8px 0;
    font-family: "robotoregular";
    text-align: center;
    width: 100%;
}
.checkout-terms{
   width: 100%;
   float: left;
    padding: 2%;
}
.checkout-terms input[type="checkbox"]{
   width: auto;
   float: left;
   font-family: "robotoregular";
   font-size:13px;
   margin: 0;
   margin-right: 4px;
}
.checkout-terms h2{
   width: auto;
   float: left;
   font-family: "robotoregular";
   font-size:13px;
   margin: 0;
}

.sucess-order{
    width: 100%;
    float: left;
}
.sucess-order h4{
    font-size: 14px;
    text-align: center;
}
.sucess-order{
    float: left;
    width: 100%;
}
.sucess-order h5{
    font-size: 14px;
    padding: 10px 0;
    width: 100%;
    float: left;
    border-bottom: 1px solid #e5e5e5;
}
.padding-none{
    padding: 0;
}
.home-video{
     float: left;
     width: 100%; 
     height: auto; 
     overflow: hidden;
}
.chef_profile {
    margin: 100px 0;
}
.chef-revies-comment{
   width: 100%;
   float: left;
}
.chef-revies-comment img{width: 100%;}
.chef-revies-comment h6{float: right; width: auto; margin: 0;}
.chef-revies-comment .well{padding: 5px !important;}

.change-password{background: none repeat scroll 0 0 #ea5058;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 0;
    padding: 9px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;}
.change-password-main .panel-footer .center-block{width: 151px;}

.change-password-main label{
    color: #333;
    float: left;
    font-family: "robotoregular";
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 0;
    width: 100%;
}
.change-password-main input[type="text"]{
    border: 1px solid #ccc;
    height: 34px;
}

.change-password-main h3 {
    background: none repeat scroll 0 0 #e3e3e3;
    color: #666;
    float: left;
    font-family: "robotoregular";
    font-size: 17px;
    margin: 0;
    padding: 8px 15px;
    width: 100%;
}
.change-password-main .panel-heading{padding: 0;}


.forgot-password{background: none repeat scroll 0 0 #ea5058;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 13px;
    margin-bottom: 0;
    padding: 9px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;}
.forgot-password-main .center-block{width: 169px;}

.forgot-password-main label{
    color: #333;
    float: left;
    font-family: "robotoregular";
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 0;
    width: 100%;
}
.forgot-password-main input[type="text"]{
    border: 1px solid #ccc;
    height: 34px;
}

.forgot-password-main h3 {
    background: none repeat scroll 0 0 #e3e3e3;
    color: #666;
    float: left;
    font-family: "robotoregular";
    font-size: 17px;
    margin: 0;
    padding: 8px 15px;
    width: 100%;
}
.forgot-password-main .panel-heading{padding: 0;}
.checkout-list-main {
    border-bottom: 1px solid #e5e5e5;
    float: left;
    padding: 5px 0;
    width: 100%;
}
.checkout-title {
    border-bottom: 1px solid #e5e5e5;
    float: left;
    width: 100%;
}
.checkout-total {
    background: none repeat scroll 0 0 #eee;
    float: left;
    width: 100%;
}

/*===================================
extra css========================
*/

/*---------------------------------------------chef_profile-----------------------------------------------*/

.chef_profile{
	width:100%;
	float:left;
	min-height:600px;
	margin: 90px 0;
	}
.chef_profile_left {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.chef_profile_img {
    float: left;
    position: relative;
    width: 100%;
}
.chef_profile_img img {
    border: 3px solid #f3f3f3;
    box-shadow: 2px 0 2px #e4e4e4;
    float: left;
    width: 100%;
}
.chef_profile_about {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #e3e3e3;
    float: left;
    width: 100%;
}
.chef_profile_about h1 {
    color: #4e4e4e;
    float: left;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 8px 15px;
    width: 100%;
}
.chef_profile_about ul {
    float: left;
    list-style: outside none none;
    padding: 0 20px;
    width: 100%;
}
.chef_profile_about ul li {
    float: left;
    margin: 0;
    padding: 8px 0;
    width: 100%;
}
.chef_profile_home {
    float: left;
}
.chef_profile_home img {
    float: left;
    margin-right: 8px;
    width: 12px;
}
.chef_profile_phone {
    float: left;
}
.chef_profile_phone img {
    float: left;
    margin-right: 8px;
    width: 12px;
}
.chef_profile_about ul li p {
    color: #4e4e4e;
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    width: 73%;
}
.chef_profile_rating{
	width:100%;
	float:left;
	}
.chef_profile_rating img{
	width:150px;
	float:left;
	}

.chef_list {
    float: left;
    width: 100%;
}
.chef_list_main {
    float: left;
    margin-top: 15px;
    width: 100%;
}
.chef_list_title {
    float: left;
    width: 100%;
}
.chef_list_title h2 {
    background: none repeat scroll 0 0 #d9d9d9;
    color: #666;
    float: left;
    font-family: "robotoregular";
    font-size: 19px;
    margin: 0;
    padding: 7px 0;
    text-align: center;
    width: 100%;
}
.chef_list {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    float: left;
    padding: 12px;
    width: 100%;
}
.chef_list:hover {
    border: 1px solid #ccc;
}
.chef_list_left {
    float: left;
    width: 100%;
}
.chef_list_left img {
    border: 3px solid #d9d9d9;
    float: left;
    width: 100%;
}
.chef_list_title {
    float: left;
    width: 100%;
}
.chef_list_title h3 {
    color: #ea5058;
    float: left;
    font-family: "robotoregular";
    font-size: 20px;
    margin: 0;
    padding: 0 0 7px;
    width: 100%;
}
.chef_list_right {
    float: left;
    width: 100%;
}
.chef_list_right ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0 15px;
    width: 100%;
}
.chef_list_right ul li {
    float: left;
    width: 100%;
}
.chef_list_right ul li p {
    color: #000;
    float: left;
    font-family: "robotolight";
    font-size: 16px;
    margin: 0;
    padding: 0 0 7px;
    width: 100%;
}
.chef_list_right ul li img {
    float: left;
    max-width: 100%;
    width: 130px;
}
.chef_list_right ul li h4 {
    background: url("../img/van_img.png") no-repeat scroll top 2px left / 26px auto rgba(0, 0, 0, 0);
    color: #000;
    float: left;
    font-family: "robotolight";
    font-size: 14px;
    line-height: 35px;
    margin: 2px 0 0px;
    padding: 0 0 0 32px;
    width: 100%;
}
.chef_list_right ul li h3 {
    color: #ea5058;
    float: left;
    font-family: "robotobold";
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.chef_list_button{
	float:left;
	}
.chef_list_button button {
    background: none repeat scroll 0 0 #ea5058;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 20px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.chef_food_qty {
    float: left;
    text-align: center;
    width: 100%;
}
.chef_food_qty > span {
    float: left;
    width: 100%;
}
.chef_food_qty label {
    float: left;
    text-align: center;
    width: 100%;
	font-weight:normal;
}
.chef_review {
    float: left;
    width: 100%;
	border-top: 1px solid #c9c9c9;
}
.chef_review h1{
    float: left;
    width: 100%;
	font-size:30px;
}
.chef_review_box {
    float: left;
    margin-bottom: 15px;
    width: 100%;
}
.chef_review_box_pic {
    float: left;
    text-align: center;
    width: 100%;
}
.chef_review_box_pic h1 {
    color: #676666;
    float: left;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 0;
    width: 100%;
}
.chef_review_box_pic img {
    border-radius: 50%;
    max-width: 100%;
	border: 2px solid #cccccc;
}
.chef_review_box_pic p {
    color: #212121;
    float: left;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    width: 100%;
}
.chef_review_box_text {
    border-bottom: 1px solid #e4e4e4;
    float: left;
    width: 100%;
}
.chef_review_box_text p {
    color: #676666;
    float: left;
    font-size: 14px;
    font-weight: normal;
    width: 100%;
}
.chef_review_box_text h6 {
    color: #999999;
    float: left;
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 30px;
    width: 100%;
	font-style:italic;
}
.chef_review_textarea{
	width:100%;
	float:left;
	}
.chef_review_textarea textarea{
	border: 1px solid #ccc;
    float: left;
    min-height: 100px;
    padding: 10px;
    resize: none;
    width: 100%;
	}

/*---------------------------------------------chef_profile end-----------------------------------------------*/

/*---------------------------------------------user_profile-----------------------------------------------*/

.user_profile{
	width:100%;
	float:left;
	min-height:600px;
	margin: 90px 0;
	}
.user_profile_left {
    float: left;
    margin-bottom: 30px;
    width: 100%;
}
.user_profile_img {
    float: left;
    position: relative;
    width: 100%;
}
.user_profile_img img {
    border: 3px solid #f3f3f3;
    box-shadow: 2px 0 2px #e4e4e4;
    float: left;
    width: 100%;
}
.user_profile_about {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #e3e3e3;
    float: left;
    width: 100%;
}
.user_profile_about h1 {
    color: #4e4e4e;
    float: left;
    font-size: 22px;
    font-weight: normal;
    margin: 0;
    padding: 8px 15px;
    width: 100%;
}
.user_profile_about ul {
    float: left;
    list-style: outside none none;
    padding: 0 20px;
    width: 100%;
}
.user_profile_about ul li {
    float: left;
    margin: 0;
    padding: 8px 0;
    width: 100%;
}
.user_profile_home {
    float: left;
}
.user_profile_home img {
    float: left;
    margin-right: 8px;
    width: 12px;
}
.user_profile_phone {
    float: left;
}
.user_profile_phone img {
    float: left;
    margin-right: 8px;
    width: 12px;
}
.user_profile_about ul li p {
    color: #4e4e4e;
    float: left;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
    width: 73%;
}
.user_profile_rating{
	width:100%;
	float:left;
	}
.user_profile_rating img{
	width:150px;
	float:left;
	}
.user_list {
    float: left;
    width: 100%;
}
.user_list_main {
    float: left;
    margin-top: 15px;
    width: 100%;
}
.user_list_title {
    float: left;
    width: 100%;
}
.user_list_title h2 {
    background: none repeat scroll 0 0 #d9d9d9;
    color: #666;
    float: left;
    font-family: "robotoregular";
    font-size: 19px;
    margin: 0;
    padding: 7px 0;
    text-align: center;
    width: 100%;
}
.user_list {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #fff;
    float: left;
    padding: 12px;
    width: 100%;
}
.user_list:hover {
    border: 1px solid #ccc;
}
.user_list_left {
    float: left;
    width: 100%;
}
.user_list_left img {
    border: 3px solid #d9d9d9;
    float: left;
    width: 100%;
}
.user_list_title {
    float: left;
    width: 100%;
}
.user_list_title h3 {
    color: #ea5058;
    float: left;
    font-family: "robotoregular";
    font-size: 20px;
    margin: 0;
    padding: 0 0 7px;
    width: 100%;
}
.user_list_right {
    float: left;
    width: 100%;
}
.chef_food_rating{
	float:right;
	}
#feedback_btn{
	background: #f1f1f1;
    border: 1px solid #ccc;
    color: #333;
    padding: 7px 9px;
	}
#feedback_block {
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid #ccc;
    display: none;
    padding: 15px 0;
    position: absolute;
    right: 0;
    width: 650px;
	z-index:1;
	box-shadow: 1px 1px 1px #666;
	-webkit-box-shadow: 1px 1px 1px #666;
	-moz-box-shadow: 1px 1px 1px #666;
	-ms-box-shadow: 1px 1px 1px #666;
	-o-box-shadow: 1px 1px 1px #666;
}
.feedback_block_comment{
	width:75%;
	float:left;
	padding:10px;
	}
.feedback_block_submit{
	width:100%;
	float:left;
	}
.feedback_block_submit button {
    background: none repeat scroll 0 0 #949494;
    border: medium none;
    color: #fff;
    margin-left: 10px;
    padding: 5px 20px;
}
.feedback_block_rating{
	width:25%;
	float:left;
	padding:10px;
	}
.feedback_block_rating img{
	float:right;
	width:100%;
	}
#feedback_block span textarea{
	width:100%;
	float:left;
	padding:5px;
	resize:none;
	min-height:125px;
	}
#feedback_block span img{
	float:right;
	}
.user_list_right ul {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding: 0 15px;
    width: 100%;
}
.user_list_right ul li {
    float: left;
    width: 100%;
}
.user_list_right ul li p {
    color: #000;
    float: left;
    font-family: "robotolight";
    font-size: 16px;
    margin: 0;
    padding: 0 0 7px;
    width: 100%;
}
.user_list_right ul li img {
    float: left;
    max-width: 100%;
    width: 130px;
}
.user_list_right ul li h2 {
    background: url("../img/calender.png") no-repeat scroll top left / 23px auto rgba(0, 0, 0, 0);
    color: #000;
    float: left;
    font-family: "robotolight";
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 7px 0;
    padding: 0 0 0 32px;
    width: 100%;
}
.user_list_right ul li h4 {
    background: url("../img/location.png") no-repeat scroll top left / 23px auto rgba(0, 0, 0, 0);
    color: #000;
    float: left;
    font-family: "robotolight";
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 7px 0;
    padding: 0 0 0 32px;
    width: 100%;
}
.user_list_right ul li h1 {
    background: url("../img/phone.png") no-repeat scroll top left 7px / 23px auto rgba(0, 0, 0, 0);
    color: #000;
    float: left;
    font-family: "robotolight";
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 7px 0;
    padding: 0 0 0 32px;
    width: 100%;
	background-size:15px;
}
.user_list_right ul li h5 {
    background: url("../img/quantity.png") no-repeat scroll top left / 23px auto rgba(0, 0, 0, 0);
    color: #000;
    float: left;
    font-family: "robotolight";
    font-size: 14px;
    line-height: 23px;
    margin: 0 0 7px 0;
    padding: 0 0 0 32px;
    width: 100%;
	background-size:27px;
}
.user_list_right ul li h3 {
    color: #ea5058;
    float: left;
    font-family: "robotobold";
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.user_list_button{
	width:100%;
	float:left;
	}
.user_list_button button {
    background: none repeat scroll 0 0 #ea5058;
    border: medium none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 9px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
}
.user_food_qty {
    float: left;
    text-align: center;
    width: 100%;
}
.user_food_qty > span {
    float: left;
    width: 100%;
}
.user_food_qty label {
    float: left;
    text-align: center;
    width: 100%;
	font-weight:normal;
}
.forgot_pass {
    float: left;
    padding: 2% 12%;
    width: 100%;
}
.top-txt a{
	color:#666 !important;
	}
/*--------------------------------comments------------------------------------*/
.dish_comment{
	float:left;
	width:100%;
	border:none !important;
	box-shadow:none !important;
	background:#efefef !important;
	padding:4px;
	}
.comment_span_img{
	float:left;
	max-height:100px;
	overflow:hidden;
	min-height: 80px;
	}
.dish_comment span img{
	float:left;
	max-width:100%;
	width:100%;
	}
.sidebar_order_list_main {
    float: left;
    max-height: 260px;
    overflow-y: scroll;
    width: 100%;
    
    margin-bottom: 5px;
}
.top-txt a {
    color: #666 !important;
}
.modal-dialog {
    margin: 30px auto;
    width: 350px !important;
}
.checkout_left_title{
	float: left;
    width: 100%;
	}
.checkout_left_title h2 {
    background:#e3e3e3;
    box-shadow: 0 0 8px #fff;
    color: #666;
    float: left;
    font-family: "robotoregular";
    font-size: 19px;
    margin: 0;
    padding: 7px 0;
    text-align: center;
    width: 100%;
}

/*---------------------------------------------order-success---------------------------------------------*/
.order_success{
	width:100%;
	float:left;
	}
.order_success_in{
	width:100%;
	float:left;
	border:1px solid #eaeaea;
	margin:20px 0;
	padding:20px; 
	}
.order_success_title{
	width:100%;
	float:left;
	}
.order_success_title h1{
	width:100%;
	float:left;
	background:url(../img/right_tick.png) left 10px center no-repeat;
	float: left;
    font-size: 30px;
    line-height: 45px;
    width:100%;
	background-size:39px;
	color:#609700;
    text-align: center;
	margin-top:0;
	}
.order_success_title h2{
	width:100%;
	float:left;
	float: left;
    font-size: 30px;
    line-height: 45px;
    width:100%;
	background-size:39px;
	color:#e53535;
    text-align: center;
	margin-top:0;
	}
.order_success_review h2{
	width:100%;
	float:left;
	font-size:14px;
	font-weight:normal;
	color:#717171;
	margin:0;
	}
.order_success_review_in{
	width:100%;
	float:left;
	}
.order_success_review_in h3{
	font-size:18px;
	margin:0 0 10px 0;
	}
.order_success_review_in h3 b{
	font-size:18px;
	font-weight:normal;
	}
	
/*---------------------------------------------footer---------------------------------------------*/
footer {
	margin:0 0 0 0;
	padding:0 0;
	float:left;
	height:auto;
	width:100%;
}
.footer_box {
	background:#e3e3e3;
	float: left;
	margin: 0 0 0;
	padding: 1.7% 0;
	width: 100%;
}
.footer_box_top {
	margin:0 2% 0 0;
	padding:0 0;
	float:left;
	height:auto;
	width:18%;
}
.footer_menu1 {
	margin:0 0 0 0;
	padding:0 0;
	float:left;
	height:auto;
	width:100%;
}
.footer_menu1 h1 {
	margin:0;
	padding:0 0;
	float:left;
	height:auto;
	width:100%;
	font-size: 16px;
	color:#333;
}
.footer_menu1 li {
	margin:0px;
	padding:0 0;
	list-style:none;
	float:left;
	height:auto;
	width:100%;
	font-size: 14px;
	color:#666;
	line-height: 24px;
}
.footer_menu1 li a {
	margin:0px;
	padding:0 0;
	float:left;
	height:auto;
	width:100%;
	font-size: 14px;
	color:#666;
}
.footer_copyright {
	margin:7px 0;
	padding:0 0;
	float:left;
	height:auto;
	width:100%;
}
.footer_copyright p {
	margin:0px;
	padding:0 0;
	height:auto;
	text-align:center;
	font-size: 13px;
	color:#a9a9a9;
}
.footer_copyright h6 {
	margin:0px;
	padding:0 0;
	float:left;
	height:auto;
	text-align:center;
	font-size: 13px;
	color:#a9a9a9;
}
.footer_top_box {
	margin:0 0 0 0;
	padding:0 0;
	float:left;
	height:auto;
	width:100%;
}


/*---------------------------------------------about-us---------------------------------------------*/

.about{
	width:100%;
	float:left;
	}
.about_in{
	width:100%;
	float:left;
	}
.about_title{
	width:100%;
	float:left;
	}
.about_title h1{
   	border-bottom: 1px solid #e2e2e2;
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 24px;
    margin: 0;
    padding: 7px 0;
    width: 100%;
	}
.about_content{
	width:100%;
	float:left;
	}
.about_content h2{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 16px;
    margin: 0;
    padding: 15px 0;
    width: 100%;
	}
.about_content p{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    margin:0 0 15px 0;
    width: 100%;
	}

/*---------------------------------------------press---------------------------------------------*/

.press{
	width:100%;
	float:left;
	}
.press_in{
	width:100%;
	float:left;
	}
.press_title{
	width:100%;
	float:left;
	}
.press_title h1{
   	border-bottom: 1px solid #e2e2e2;
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 24px;
    margin: 0;
    padding: 7px 0;
    width: 100%;
	}
.press_content{
	width:100%;
	float:left;
	}
.press_content h2{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 16px;
    margin: 0;
    padding: 15px 0;
    width: 100%;
	}
.press_content p{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    margin:0 0 15px 0;
    width: 100%;
	}
/*---------------------------------------------trems---------------------------------------------*/

.terms{
	width:100%;
	float:left;
	}
.terms_in{
	width:100%;
	float:left;
	}
.terms_title{
	width:100%;
	float:left;
	}
.terms_title h1{
   	border-bottom: 1px solid #e2e2e2;
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 24px;
    margin: 0;
    padding: 7px 0;
    width: 100%;
	}
.terms_content{
	width:100%;
	float:left;
	}
.terms_content h2{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 16px;
    margin: 0;
    padding: 15px 0;
    width: 100%;
	}
.terms_content p{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    margin:10px 0 15px 0;
    width: 100%;
	}
.terms_ul{
    float: left;
    width: 100%;
	padding:10px 0 !important;
	list-style:inside !important; 
	}
.terms_content ul{
    float: left;
    width: 100%;
	font-size:13px;
	}
/*---------------------------------------------privacy---------------------------------------------*/

.privacy{
	width:100%;
	float:left;
	}
.privacy_in{
	width:100%;
	float:left;
	}
.privacy_title{
	width:100%;
	float:left;
	}
.privacy_title h1{
   	border-bottom: 1px solid #e2e2e2;
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 24px;
    margin: 0;
    padding: 7px 0;
    width: 100%;
	}
.privacy_content{
	width:100%;
	float:left;
	}
.privacy_content h2{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 16px;
    margin: 0;
    padding: 15px 0 0 0;
    width: 100%;
	}
.privacy_content p{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    margin:10px 0 15px 0;
    width: 100%;
	}
/*---------------------------------------------faq---------------------------------------------*/

.faq{
	width:100%;
	float:left;
	}
.faq_in{
	width:100%;
	float:left;
	}
.faq_title{
	width:100%;
	float:left;
	}
.faq_title h1{
   	border-bottom: 1px solid #e2e2e2;
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 24px;
    margin: 0;
    padding: 7px 0;
    width: 100%;
	}
.faq_content{
	width:100%;
	float:left;
	}
.faq_content h2{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 18px;
    margin: 0;
    padding: 15px 0 0 0;
    width: 100%;
	}
.faq_content p{
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    margin:10px 0 15px 0;
    width: 100%;
	}
.faq .panel-default > .panel-heading {
    background-color: #fafafa;
    border:none !important; 
    color: #333;
}
.faq .panel-default {
    border:none;
}
.faq .panel-title {
    font-size: 13px !important;
	background:url(../img/1420554093_icon-ios7-arrow-right-128.png) left no-repeat;
	background-size:12px;
	padding-left:13px;
}
.faq .panel {
    margin-bottom: 5px !important;
}

/*---------------------------------------------payment---------------------------------------------*/
.payments{
	width:100%;
	float:left;
	margin:20px 0;
	}
.payments_title {
    float: left;
    width: 100%;
}
.payments_right_title h1{
   	border-bottom: 1px solid #e2e2e2;
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 24px;
    margin: 0 0 10px;
    padding: 7px 0;
    width: 100%;
	}
.payments_content{
	width:100%;
	float:left;
	}
.payments_content img{
    width: 100%;
	float:left;
	box-shadow: 0 2px 2px #333;
	}
.payments_content h2{
	color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 20px;
    margin: 0;
    padding: 15px 0 0 0;
    width: 100%
	}
.payments_content p{
	color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    margin:2px 0 0 0;
    padding: 0 0 0 150px;
    width: 100%
	}
.payments_right {
    float: left;
    width: 100%;
}
.payments_right_title {
    float: left;
    width: 100%;
}
.payments_right input[type="text"] {
    padding: 0 5px;
}
.payments_right textarea {
    padding: 0 5px;
}
.payments_right ul {
    float: left;
    list-style: outside none none;
    margin: 15px 0;
    padding: 0;
    width: 100%;
}
.payments_right ul li {
    float: left;
    margin:0 0 15px 0;
    padding: 0;
    width: 100%;
}
.payments_right ul li label {
    color: #333;
    float: left;
    font-family: "robotoregular";
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0 0;
    width: 150px;
}
.payments_right ul li input[type="text"] {
    border: 1px solid #ccc;
    float: left;
    height: 34px;
    width: 300px;
}
.payments_right ul li textarea {
    border: 1px solid #ccc;
    float: left;
    height: 70px;
    resize: none;
    width: 60%;
}
.payments_option {
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
    margin: 15px 0;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.payments_option span {
    float: left;
    text-align: center;
    width: 100%;
}
.payments_option label {
    color: #000;
    float: left;
    font-family: "robotoregular";
    font-size: 14px;
    font-weight: normal;
    margin: 15px 0;
    min-height: 45px;
    text-align: center;
    width: 100%;
}
.payments_option img {
    max-width: 100%;
}
.payments_button{
	width:100%;
	float:left;
	}
.payments_button button {
    background: none repeat scroll 0 0 #ea5058;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin:0 0 0 150px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;
}
/*---------------------------------------------contact---------------------------------------------*/
.contact{
	width:100%;
	float:left;
	margin:20px 0;
	}
.contact_title {
    float: left;
    width: 100%;
}
.contact_right_title h1{
   	border-bottom: 1px solid #e2e2e2;
    color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 24px;
    margin: 0 0 10px;
    padding: 7px 0;
    width: 100%;
	}
.contact_content{
	width:100%;
	float:left;
	}
.contact_content img{
    width: 100%;
	float:left;
	box-shadow: 0 2px 2px #333;
	}
.contact_content h2{
	color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 20px;
    margin: 0;
    padding: 15px 0 0 0;
    width: 100%
	}
.contact_content p{
	color: #222;
    float: left;
    font-family: "robotoregular";
    font-size: 13px;
    margin:2px 0 0 0;
    padding: 0 0 0 150px;
    width: 100%
	}
.contact_right {
    float: left;
    width: 100%;
}
.contact_right_title {
    float: left;
    width: 100%;
}
.contact_right input[type="text"] {
    padding: 0 5px;
}
.contact_right textarea {
    padding: 0 5px;
}
.contact_right ul {
    float: left;
    list-style: outside none none;
    margin: 15px 0;
    padding: 0;
    width: 100%;
}
.contact_right ul li {
    float: left;
    margin:0 0 15px 0;
    padding: 0;
    width: 100%;
}
.contact_right ul li label {
    color: #333;
    float: left;
    font-family: "robotoregular";
    font-size: 14px;
    font-weight: normal;
    margin: 10px 0 0;
    width: 150px;
}
.contact_right ul li input[type="text"] {
    border: 1px solid #ccc;
    float: left;
    height: 34px;
    width: 300px;
}
.contact_right ul li textarea {
    border: 1px solid #ccc;
    float: left;
    height: 150px;
    resize: none;
    width: 300px;
}
.contact_option label {
    color: #000;
    float: left;
    font-family: "robotoregular";
    font-size: 14px;
    font-weight: normal;
    margin: 15px 0;
    min-height: 45px;
    text-align: center;
    width: 100%;
}
.contact_option img {
    max-width: 100%;
}
.contact_button{
	width:100%;
	float:left;
	}
.contact_button button {
    background: none repeat scroll 0 0 #ea5058;
    border: medium none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857;
    margin:0 0 0 150px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    width: 300px;
}.user_list_inn {
    float: left;
    width: 100%;
}#i-cont-load p {
    float: left;
    width: 100%;
}#i-cont-load > div {
    float: left;
}

.chef_list_price{
    float: left;
    width: 100%;
}

.top-txt {
    float: right !important;
    padding: 27px;
}

#cart-sec {
    float: right !important;
}


.rateit {
    width: 89px !important;
}
